<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Address</title>
</head>
<body>
    <form method="post" th:action="@{/shippingaddress}" th:object="${shippingAddress}">
        <div class="row">
            <div class="col-2">
            <label for="custName" >Name:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{custName}">
            </div>
            <span class="alert" th:if="${#fields.hasErrors('custName')}" th:errors="*{custName}" ></span>
        </div>

        <div class="row">
            <div class="col-2">
            <label for="address" >Address:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{address}">
            </div>
            <span class="alert" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></span>
        </div>

        <button class="button" formmethod="get" formaction="/cart.html">Back</button>
        <button type="submit">Checkout</button>

    </form>
    </div>
</body>
</html>